@import "import/_vars.sass"
@import "import/_mixins.sass"

/* 1. NORMALINE */
/* ============================================================================================================== */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

*, *:before, *:after
	+prefix("box-sizing", 'border-box')

html, body 
	+page(100%, 0, hidden)

.particles-js-canvas-el
	position: absolute 
	top: 0
	left: 0

/* 2. FORM */
/* ============================================================================================================== */
textarea
	outline: none
	resize: none

input[type="text"], input[type="email"], input[type="password"], input[type="number"]
	outline: none
	border: 0

input[type="button"], input[type="submit"]
	cursor: pointer
	outline: none
	border: 0

/* 3. BUTTON */
/* ============================================================================================================== */
button 
	outline: none 
	border: 0

/* 4. MAIN */
/* ============================================================================================================== */
.wrapper 
	width: 100%
	height: 100%

/* 5. HEADER */
/* ============================================================================================================== */
@import "import/section/_header.sass"

/* 6. ARTICLE */
/* ============================================================================================================== */
@import "import/section/_article.sass"

/* 7. FOOTER */
/* ============================================================================================================== */
@import "import/section/_footer.sass"

/* 8. MEDIA */
/* ============================================================================================================== */
@import "import/_media.sass"