<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru" class="no-js" dir="ltr"><!--<![endif]-->
<head>
	<!-- Meta tags -->
	<meta charset="utf-8" />
	<title>My website</title>

	<meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta http-equiv="content-type" content="text/html" charset="UTF-8" />
    <meta http-equiv="content-language" content="ru" />

    <meta property="og:type" content="website" />

 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />

    <meta name="msapplication-config" content="/views/browserconfig.xml" />

    <!-- Favicon website -->
	<link rel="shortcut icon" href="src/views/" type="image/x-icon" />

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="/src/tools/css/index.css">

    <!-- Module -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Scripts -->
    <script src="/src/libs/jquery.min.js"></script>
    <script src="/src/tools/js/index.js"></script>
</body>
</html>