/* Color */
$bg-website: #ffffff

/* Font */
$font-website: normal 16px "SourceSansProRegular", Arial, sans-serif
$font-regular: "SourceSansProRegular", Arial, sans-serif
$font-bold: "SourceSansProBold", Arial, sans-serif
$font-light: "SourceSansProLight", Arial, sans-serif

/* Size */
$max-size: 1150px